<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jie.mapper.ChildrenMapper">
    <update id="changePagePermission">
        update children
        set pagepermission = #{pagepermission}
        where id = #{id};
    </update>

    <delete id="deleteChildren">
        delete
        from children
        where id = #{id};
    </delete>

    <select id="queryLists" resultType="com.jie.pojo.Children">
        select * from children
    </select>
</mapper>